.container{
    display: flex;
    width: 250px;
    justify-content: center;
    background-color: #FFFFFF;
    color: #303742;
    flex-direction: column;
    font-family: "Codec cold",sans-serif;
}
.interval{
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid 1px #26e7c7;
    margin: 5px;
    justify-content: space-evenly;
    
    padding: 0px 20px 0px 20px;
}
.interval-body{
    display: flex;
    justify-content: center;

}
input,select{
    
    height: 20px;
}

.interval-title{
    justify-items: center;
}
.interval #interval{
    width: 65px;
    text-align: right;
}
.unit-body{
    display: flex;
    margin: 5px
}
#unit{
    width: 100px;
}
.repetitions{
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid 1px #26e7c7;   
    margin: 5px;
    justify-content: space-evenly;
    
    padding: 0px 20px 0px 20px;
}
.repetitions-body{
    display: flex;
    width: 65px;
    flex-direction: column;
}
#repetitions-label,#neverStop-label{
    font-size: 10px;
}
.neverStop{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100px;
}
#repetitions{
    margin: 3px 0px 0px 15px;
    width: 50px;
    height: 20px;
    text-align: end;
}
#neverStop{    
    align-self: end;
    width: 20px;
    height: 20px;
    margin: 3px 0px 0px 0px;
}
.buttons{
    
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title{
    text-align: center;
    background-image: linear-gradient(135deg, #fd5365 40%, #fc9842);
    height: 40px;
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 700;
    
}
#stop{
    align-items: center;
    background-image: linear-gradient(135deg, #fd5365 40%, #fc9842);
    border: 0;
    border-radius: 10px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-family: "Codec cold",sans-serif;
    font-size: 13px;
    font-weight: 700;
    height: 54px;
    justify-content: center;
    letter-spacing: .4px;
    line-height: 1;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    text-decoration: none;
    text-transform: uppercase;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
#stop:hover{
    transform: scale(.9);
    opacity: .75;
}
#start{
    align-items: center;
    background-image: linear-gradient(135deg, #26e7c7 40%, #88c0ac);
    border: 0;
    border-radius: 10px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-family: "Codec cold",sans-serif;
    font-size: 13px;
    font-weight: 700;
    height: 54px;
    justify-content: center;
    letter-spacing: .4px;
    line-height: 1;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    text-decoration: none;
    text-transform: uppercase;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
#start:hover{
    transform: scale(.9);
    opacity: .75;
}